<footer id="footer">
    <div class="logo" style="margin-bottom: 2rem; justify-content: center;">
        <img src="static/images/logo.png" alt="LA 12 Logo" style="height: 90px;">
    </div>
    <p style="color: var(--text-secondary); margin-bottom: 1rem;">&copy; 2026 LA DOCE Inc. Todos los derechos
        reservados.</p>
    <p style="color: var(--text-secondary); margin-bottom: 1rem;"> Desarrollado por Kemper Aspajo</p>
    <div class="nav-links" style="display: flex; justify-content: center; gap: 2rem;">
        <a href="https://www.instagram.com/ladoce.pucallpa/">Instagram</a>
        <a href="https://www.facebook.com/ladocepucallpa/">Facebook</a>
        <a href="https://www.tiktok.com/@ladocepucallpa">TikTok</a>
        <a href="login.html" style="opacity: 0.3; font-size: 0.7rem;">Admin</a>
    </div>
</footer>
